.layout {
  position: relative;
  display: flex;

  .left {
    width: calc(70vw - #{$gxsm * 2});
    padding: $gxsm;
  }

  .right {
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    @include flex($fd: column, $ai: flex-end, $jc: space-between);

    nav {
      @include flex($fd: column, $ai: flex-end);
      padding: $gxsm;
      margin-top: $gxlg;

      a {
        font-size: $md;
      }
    }

    .copyright {
      padding: $gxsm;
      margin-bottom: $gxlg;
      color: $muted;
    }
  }
}
