// FONTS

@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font: "Gentium Plus", serif;

$xlg: 4rem;
$lg: 2rem;
$md: 1rem;
$sm: 0.75rem;

$sizes: (
  xlg: $xlg,
  lg: $lg,
  md: $md,
  sm: $sm,
);

$headers: (
  h1: $xlg,
  h2: $lg,
  h3: $md,
  p: $sm,
);

$thin: 400;
$thick: 700;

$weights: (
  thick: $thick,
  thin: $thin,
);

// COLORS

$black: #332414;
$white: #f7fee9;
// $muted: rgba($black, 0.3);
$muted: $white;
$blue: #678f8e;
$beige: #e6e2c1;
$grey: #8c9a92;

$colors: (
  black: $black,
  white: $white,
  muted: $muted,
  blue: $blue,
  beige: $beige,
  grey: $grey,
);

// SPACING

$gxlg: 2.5rem;
$glg: 1.5rem;
$gmd: 1rem;
$gsm: 0.875rem;
$gxsm: 0.5rem;

// TRANSITIONS
$t: 0.15s;
$trans: all $t ease-in-out;
